<p>
    Cliente: <%= @segurosSalud.name %> <br/>
    Dependientes: <%= @segurosSalud.dependientes %> <br/>
    Telefono: <%= @segurosSalud.telefono %> <br/>
    Celular: <%= @segurosSalud.celular %> <br/>
    Email: <%= @segurosSalud.email %> <br/>
    Plan: <%= @segurosSalud.plan %> 
</p>
