<p>
    Cliente: <%= @contacto.nombre %> <br/>
    Telefono: <%= @contacto.telefono %> <br/>
    Celular: <%= @contacto.celular %> <br/>
    Email: <%= @contacto.email %> <br/>
    Mensaje: <%= @contacto.mensaje %> 
</p>
