 <%= form_for(:segurosSalud, url: crearSegSalud_path) do |f| %>
          <div class="quote-form" data-quote-form-for="life-insurance">  
          <i class="fa fa-bus background-icon"></i>     
          <div class="quote-form-background" style="background-image: url( '_assets/_img/image.png' );">
          </div>
          <div class="quote-form-content">

              <h2>Seguros de salud <span>Cotizacion</span></h2>
              <div class="form">   
                 <h4>Detalles de Contacto:</h4>
                 <%= f.text_field :name, placeholder: 'Nombre Completo', class: 'quote-form-element quote-form-client-name' %>
                 
                 <span class="custom-dropdown last">
                     <%= f.select(:dependientes, options_for_select(0..10), {}, {required: 'true', class: 'custom-dropdown-select quote-form-element'}) %>
                     <!--<%= f.text_field :dependientes, class: 'quote-form-element' %>-->
                 </span>
                 
                 <%= f.text_field :telefono, class: 'quote-form-element', placeholder: 'Telefono', required: 'tru' %>
                 <%= f.text_field :celular, class: 'quote-form-element last', placeholder: 'Celular' %>
                 <%= f.text_field :email, class: 'quote-form-element quote-form-client-email', placeholder: 'Email' %>
                 
                 <h4>Plan de seguros:</h4>
                 <span class="custom-dropdown last">
                         <%= f.select(:plan, options_for_select(['Royal', 'Max', 'Platinum'], 'Royal'), {}, {required: 'true', class: 'custom-dropdown-select quote-form-element'}) %>
                 </span>
                <button class="button button-navy-blue send-quote" type="submit">Enviar<i class="fa fa-paper-plane-o"></i></button>         
                <!--<%= f.submit "Enviar", class: 'button button-navy-blue send-quote' %>-->
                
                 
              
              </div>
          </div>
          
         </div>
      <% end %>
     