<p>
    Cliente: <%= @segurosVehiculos.nombre %><br/>
    Telefono: <%= @segurosVehiculos.telefono %><br/>
    Celular: <%= @segurosVehiculos.celular %><br/>
    Email: <%= @segurosVehiculos.email %><br/>
    Marca: <%= @segurosVehiculos.marca %><br/>
    Modelo: <%= @segurosVehiculos.model %><br/>
    Compañia: <%= @segurosVehiculos.compania %><br/>
    Año: <%= @segurosVehiculos.año %>
</p>